body {
  margin: 0;
  background: rgb(226, 219, 219);
}
nav {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid black;
}
nav div:first-child {
  height: 100%;
  width: 8vh;
  background: red;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  margin: 0 10px;
}
header {
  height: 80vh;
  display: flex;
  align-items: center;
}
