footer {
  section {
    margin: 0;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: auto 0 auto 10vh;
    }
    div:nth-child(2) {
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 20px 20px 0 20px;
        label {
          display: none;
        }
        input,
        textarea,
        button {
          border: 1px solid #f59e0b;
          outline: none;
          border-radius: 10px;
          padding: 5px;
          background: $color1;
          font-size: 1rem;
          font-weight: 700;
          height: 40px;
          &::placeholder {
            color: black;
          }
        }
        #email {
          grid-area: 2/1/2/3;
        }
        #message {
          grid-area: 3/1/4/3;
          min-height: 100px;
          resize: none;
        }
        button {
          grid-area: 4/1/4/3;
          width: 50%;
          max-width: 180px;
          margin: 0 auto;
          color: black;
          border: none;
          background: gray;
          transition: 0.3s;
        }
        .btnActive {
          background: #f59e0b;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
        #result {
          margin: 0 auto;
          font-size: 1.2rem;
          height: 40px;
          grid-area: 5/1/5/3;
        }
        .error {
          border: 2px solid red;
        }
      }
    }
    div:nth-child(3) {
      grid-area: 2/1/2/3;
      margin: 0 auto;
      img {
        height: 30px;
        width: 30px;
        margin: 10px;
      }
    }
  }
}
