footer {
  section {
    div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
    div:nth-child(2) {
      margin: 0;
      border-radius: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      div:nth-child(1) {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: auto 0 auto 10vh;
      }
      div:nth-child(2) {
        form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          margin: 20px 20px 0 20px;
          label {
            display: none;
          }
          input,
          textarea,
          button {
            border: 1px solid $colorJS;
            outline: none;
            border-radius: 10px;
            padding: 5px;
            background: $colorWhite;
            font-size: 1rem;
            font-weight: 700;
            height: 40px;
            &::placeholder {
              color: $colorJS;
            }
          }
          #email {
            grid-area: 2/1/2/3;
          }
          #message {
            grid-area: 3/1/4/3;
            min-height: 100px;
            resize: none;
          }
          button {
            grid-area: 4/1/4/3;
            width: 50%;
            max-width: 180px;
            margin: 0 auto;
            color: $colorVscode;
            border: 2px solid $colorVscode;
            background: $colorGrey;
            transition: 0.3s;
            cursor: not-allowed;
          }
          .btnActive {
            background: $colorJS;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
          #result {
            margin: 0 auto;
            font-size: 1.2rem;
            height: 40px;
            grid-area: 5/1/5/3;
          }
          .error {
            border: 2px solid red;
          }
        }
      }
      div:nth-child(3) {
        grid-area: 2/1/2/3;
        margin: 0 auto;
        img {
          height: 30px;
          width: 30px;
          margin: 10px;
        }
      }
    }
  }
}
