header {
  height: 880px;
  margin: auto 50px;
  display: flex;
  justify-content: space-between;
  div:nth-child(1) {
    h1 {
      text-shadow:
        1.5px 1.5px 2px $colorWhite,
        -1.5px 1.5px 2px $colorWhite,
        -1.5px -1.5px 0px $colorWhite,
        1.5px -1.5px 0px $colorWhite;
    }
    div:nth-child(1) {
      display: flex;
      h2 {
        padding-top: 300px;
        font-size: 3rem;
        @media screen and (max-width: 800px) {
          font-size: 1.5rem;
        }
      }
      #animTitle {
        padding-left: 10px;
      }
    }
    h1 {
      padding-left: 50px;
      font-size: 2.5rem;
      color: $colorReact;
      @media screen and (max-width: 870px) {
        font-size: 1.5rem;
      }
    }
  }
  .imgHeader {
    position: absolute;
    z-index: -1;
    right: -400px;
    top: -42px;
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
  }
}
