header {
  height: 880px;
  margin: auto 50px;
  display: flex;
  //align-items: center;
  justify-content: space-between;
  //background: radial-gradient(rgba(0, 0, 0, 0) 50%, $color1 100%),url(../img/laptop-2620118_1920.jpg) center/cover;
  div:first-child {
    h1,
    h2 {
      color: rgb(54, 54, 54);
      text-shadow: 1.5px 1.5px 2px #ffffff, -1.5px 1.5px 2px #ffffff,
        -1.5px -1.5px 0px #ffffff, 1.5px -1.5px 0px #ffffff;
    }
    h1 {
      padding-top: 33vh;
      font-size: 3rem;
    }
    h2 {
      padding-left: 50px;
      font-size: 5rem;
      color: rgba(1, 107, 107, 0.438);
    }
  }
  .imgHeader {
    position: fixed;
    z-index: -1;
    right: -300px;
    top: -42px;
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0) 40%, $color1 100%),
      url(../img/laptop-2620118_1920.jpg) center/cover;
  }
  .imgHeader::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    height: 1200px;
    width: 1200px;
    left: -100px;
    top: -100px;
    border: 3px solid rgba(1, 107, 107, 0.438);
  }
}
