main {
  .aboutMe {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 70px 0 0;
    border-radius: 0 30px 80px 0;
    @media screen and (max-width: 780px) {
      display: flex;
      flex-direction: column;
    }
    .imgAboutMe {
      margin: 20px;
      height: 400px;
      background: url(../img/website-647013_1920.jpg) left/cover;
      border-radius: 20px;
    }
    div:last-child {
      margin: auto 20px;
      letter-spacing: 1px;
      height: 60%;
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          text-align: center;
          margin: 10px 0;
        }
        p {
          margin: 10px auto;
        }
      }
    }
  }
  .portFolio {
    margin: 40px 0 40px 70px;
    border-radius: 80px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-transform: uppercase;
      margin: 10px auto 20px;
    }
    .portFolio_container {
      display: flex;
      flex-direction: column;
      width: 80vw;
      max-width: 1200px;
      div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 20px 0;
        @media screen and (max-width: 700px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        a {
          height: 400px;
          width: 70vw;
          max-width: 400px;
          border: 3px solid $colorJS;
          border-radius: 30px;
        }
        div {
          display: flex;
          flex-direction: column;
          margin: 20px auto;
          padding: 0 20px;
          justify-content: center;
          align-items: center;
          position: relative;
          h3 {
            margin-bottom: 20px;
          }
        }
        div:nth-child(2) {
          &:after {
            position: absolute;
            top: -20px;
            content: "";
            height: 2px;
            width: 900px;
            background: $colorJS;
            @media screen and (max-width: 700px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
