main {
  .aboutMe {
    display: grid;
    grid-template-columns: 1fr 2fr;
    .imgAboutMe {
      margin: 20px;
      height: 400px;
      background: url(../img/website-647013_1920.jpg) left/cover;
      border-radius: 20px;
    }
    div:last-child {
      margin: auto 20px;
      letter-spacing: 1px;
      height: 60%;
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          margin: 10px 0;
        }
      }
    }
  }
  .portFolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-transform: uppercase;
      margin: 10px auto 20px;
    }
    div {
      width: 100%;
      max-width: 1500px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 50px;
      a {
        height: 300px;
        border: 2px solid black;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
      }
    }
  }
}
