nav {
  position: fixed;
  transition: 0.3s ease-in-out;
  top: 0px;
  width: 100%;
  background: $color1;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div:first-child {
    height: 40px;
    width: 8vh;
    margin: 3px;
    background: url(../img/icon.png) center/contain no-repeat;
  }
  div:nth-child(2) {
    ul {
      display: flex;
      justify-content: space-around;
      li {
        margin: 0 20px;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }
  div:last-child {
    display: flex;
    flex-direction: row;
  }
}
