$color1: rgb(226, 219, 219);
$color2: rgb(189, 189, 189);
$color3: rgba(226, 219, 219, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  //background: $color1;
  //background: radial-gradient(rgba(0, 0, 0, 0) 50%, $color1 100%), url(../img/laptop-2620118_1920.jpg) center fixed;
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  .bg3 {
    animation-duration: 5s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
section {
  background: $color2;
  box-shadow: rgb(143, 143, 143) 0 0 20px 0;
  padding: 20px;
}
