@font-face {
  font-family: "roboto";
  src: url(../fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: "rampart";
  src: url(../fonts/RampartOne-Regular.ttf);
}

$colorWhite: #f8fafc;
$colorGrey: #334155;

$colorReact: #38bdf8;
$colorJS: #f59e0b;
$colorNodeJS: #4f9b43;
$colorHtml: #e34f27;
$colorVscode: #0f172a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  position: relative;
  overflow-x: hidden;
}
body {
  background: $colorVscode;
  max-width: 100vw;
  .bg,
  .bg2,
  .bg3 {
    height: 80vh;
    top: 10vh;
    width: 15px;
    position: fixed;
    border-radius: 50px;
    z-index: -1;
  }
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background: $colorJS;
    box-shadow: 0 0 20px 1px $colorHtml;
    right: 15%;
  }
  .bg2 {
    animation: slide2 10s ease-in-out infinite alternate;
    background: $colorHtml;
    box-shadow: 0 0 20px 1px $colorJS;
    right: 20%;
  }
  .bg3 {
    animation: slide3 4s ease-in-out infinite alternate;
    background: $colorNodeJS;
    box-shadow: 0 0 20px 1px $colorNodeJS;
    right: 20%;
  }
  @keyframes slide {
    0% {
      transform: rotate(25deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @keyframes slide2 {
    0% {
      transform: rotate(-60deg);
    }
    100% {
      transform: rotate(-25deg);
    }
  }
  @keyframes slide3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
}
h1,
h3 {
  font-family: roboto;
  color: $colorJS;
}
h2 {
  font-family: rampart;
  color: $colorJS;
}
p,
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: $colorWhite;
}
li {
  list-style: none;
}
section {
  background: $colorGrey;
  box-shadow: $colorGrey 0 0 20px 2px;
  padding: 20px;
}
