$color1: rgb(226, 219, 219);
$color2: rgb(189, 189, 189);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  //background: $color1;
  background: radial-gradient(rgba(0, 0, 0, 0) 50%, $color1 100%),
    url(../img/laptop-2620118_1920.jpg) center fixed;
}
li {
  list-style: none;
}
section {
  background: $color2;
  box-shadow: rgb(143, 143, 143) 0 0 20px 0;
  border-radius: 50px;
  margin: 20px;
  padding: 20px;
}
