$color1: rgb(226, 219, 219);
//$color1: #0f172a;
$color2: rgb(189, 189, 189);
$color3: rgba(226, 219, 219, 0.7);
//$color4: rgba(1, 107, 107, 0.438);
$color4: #38bdf8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  position: relative;
  overflow-x: hidden;
}
body {
  max-width: 100vw;
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    background-image: linear-gradient(-60deg, $color3 60%, $color4 40%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  .bg3 {
    animation-duration: 5s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
section {
  background: $color3;
  box-shadow: rgb(143, 143, 143) 0 0 20px 0;
  padding: 20px;
}
