* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  position: relative;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
}
body .bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  background-image: linear-gradient(-60deg, rgba(226, 219, 219, 0.7) 60%, #38bdf8 40%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
body .bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
body .bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

section {
  background: rgba(226, 219, 219, 0.7);
  -webkit-box-shadow: rgb(143, 143, 143) 0 0 20px 0;
          box-shadow: rgb(143, 143, 143) 0 0 20px 0;
  padding: 20px;
}

nav {
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: 0px;
  width: 100%;
  background: rgba(226, 219, 219, 0.7);
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav div:first-child {
  height: 40px;
  width: 8vh;
  margin: 3px;
  background: url(../img/icon.png) center/contain no-repeat;
  cursor: pointer;
}
nav div:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav div:nth-child(2) ul a {
  margin: 0 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}
nav div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav div:last-child button {
  cursor: pointer;
  border: 2px solid #38bdf8;
  border-radius: 20px;
  padding: 10px;
  background: none;
}
nav div:last-child button a {
  font-size: 1rem;
  letter-spacing: 1px;
}

header {
  height: 880px;
  margin: auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header div:first-child h1,
header div:first-child h2 {
  color: rgb(54, 54, 54);
  text-shadow: 1.5px 1.5px 2px #ffffff, -1.5px 1.5px 2px #ffffff, -1.5px -1.5px 0px #ffffff, 1.5px -1.5px 0px #ffffff;
}
header div:first-child h1 {
  padding-top: 300px;
  font-size: 3rem;
}
header div:first-child h2 {
  padding-left: 50px;
  font-size: 5rem;
  color: #38bdf8;
}
header .imgHeader {
  position: absolute;
  z-index: -1;
  right: -400px;
  top: -42px;
  height: 1000px;
  width: 1000px;
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0) 40%, rgb(226, 219, 219) 100%), url(../img/laptop-2620118_1920.jpg) center/cover;
}
header .imgHeader::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  height: 1200px;
  width: 1200px;
  left: -100px;
  top: -100px;
  border: 3px solid rgba(1, 107, 107, 0.438);
}

main .aboutMe {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 70px 0 0;
  border-radius: 0 30px 80px 0;
}
main .aboutMe .imgAboutMe {
  margin: 20px;
  height: 400px;
  background: url(../img/website-647013_1920.jpg) left/cover;
  border-radius: 20px;
}
main .aboutMe div:last-child {
  margin: auto 20px;
  letter-spacing: 1px;
  height: 60%;
}
main .aboutMe div:last-child div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main .aboutMe div:last-child div h3 {
  margin: 10px 0;
}
main .portFolio {
  margin: 40px 0 40px 70px;
  border-radius: 80px 0px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .portFolio h2 {
  text-transform: uppercase;
  margin: 10px auto 20px;
}
main .portFolio div {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 50px;
}
main .portFolio div a {
  height: 300px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 1.2rem;
}

footer section {
  margin: 0;
  border-radius: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer section div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto 0 auto 10vh;
}
footer section div:nth-child(2) form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 20px 0 20px;
}
footer section div:nth-child(2) form label {
  display: none;
}
footer section div:nth-child(2) form input,
footer section div:nth-child(2) form textarea,
footer section div:nth-child(2) form button {
  border: 1px solid #f59e0b;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  background: rgb(226, 219, 219);
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
}
footer section div:nth-child(2) form input::-webkit-input-placeholder, footer section div:nth-child(2) form textarea::-webkit-input-placeholder, footer section div:nth-child(2) form button::-webkit-input-placeholder {
  color: black;
}
footer section div:nth-child(2) form input::-moz-placeholder, footer section div:nth-child(2) form textarea::-moz-placeholder, footer section div:nth-child(2) form button::-moz-placeholder {
  color: black;
}
footer section div:nth-child(2) form input:-ms-input-placeholder, footer section div:nth-child(2) form textarea:-ms-input-placeholder, footer section div:nth-child(2) form button:-ms-input-placeholder {
  color: black;
}
footer section div:nth-child(2) form input::-ms-input-placeholder, footer section div:nth-child(2) form textarea::-ms-input-placeholder, footer section div:nth-child(2) form button::-ms-input-placeholder {
  color: black;
}
footer section div:nth-child(2) form input::placeholder,
footer section div:nth-child(2) form textarea::placeholder,
footer section div:nth-child(2) form button::placeholder {
  color: black;
}
footer section div:nth-child(2) form #email {
  grid-area: 2/1/2/3;
}
footer section div:nth-child(2) form #message {
  grid-area: 3/1/4/3;
  min-height: 100px;
  resize: none;
}
footer section div:nth-child(2) form button {
  grid-area: 4/1/4/3;
  width: 50%;
  max-width: 180px;
  margin: 0 auto;
  color: black;
  border: none;
  background: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer section div:nth-child(2) form .btnActive {
  background: #f59e0b;
  cursor: pointer;
}
footer section div:nth-child(2) form .btnActive:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer section div:nth-child(2) form #result {
  margin: 0 auto;
  font-size: 1.2rem;
  height: 40px;
  grid-area: 5/1/5/3;
}
footer section div:nth-child(2) form .error {
  border: 2px solid red;
}
footer section div:nth-child(3) {
  grid-area: 2/1/2/3;
  margin: 0 auto;
}
footer section div:nth-child(3) img {
  height: 30px;
  width: 30px;
  margin: 10px;
}/*# sourceMappingURL=index.css.map */