@font-face {
  font-family: "roboto";
  src: url(../fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: "rampart";
  src: url(../fonts/RampartOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  position: relative;
  overflow-x: hidden;
}

body {
  background: #0f172a;
  max-width: 100vw;
}
body .bg,
body .bg2,
body .bg3 {
  height: 80vh;
  top: 10vh;
  width: 15px;
  position: fixed;
  border-radius: 50px;
  z-index: -1;
}
body .bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background: #f59e0b;
  -webkit-box-shadow: 0 0 20px 1px #e34f27;
          box-shadow: 0 0 20px 1px #e34f27;
  right: 15%;
}
body .bg2 {
  -webkit-animation: slide2 10s ease-in-out infinite alternate;
          animation: slide2 10s ease-in-out infinite alternate;
  background: #e34f27;
  -webkit-box-shadow: 0 0 20px 1px #f59e0b;
          box-shadow: 0 0 20px 1px #f59e0b;
  right: 20%;
}
body .bg3 {
  -webkit-animation: slide3 4s ease-in-out infinite alternate;
          animation: slide3 4s ease-in-out infinite alternate;
  background: #4f9b43;
  -webkit-box-shadow: 0 0 20px 1px #4f9b43;
          box-shadow: 0 0 20px 1px #4f9b43;
  right: 20%;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
@-webkit-keyframes slide2 {
  0% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}
@keyframes slide2 {
  0% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}
@-webkit-keyframes slide3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
@keyframes slide3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

h1,
h3 {
  font-family: roboto;
  color: #f59e0b;
}

h2 {
  font-family: rampart;
  color: #f59e0b;
}

p,
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: #f8fafc;
}

li {
  list-style: none;
}

section {
  background: #334155;
  -webkit-box-shadow: #334155 0 0 20px 2px;
          box-shadow: #334155 0 0 20px 2px;
  padding: 20px;
}

nav {
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: 0px;
  width: 100%;
  background: #334155;
  opacity: 0.9;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav div:first-child {
  height: 40px;
  width: 8vh;
  margin: 3px;
  background: url(../img/icon.png) center/contain no-repeat;
  cursor: pointer;
}
nav div:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav div:nth-child(2) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav div:nth-child(2) ul a {
  margin: 0 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}
@media screen and (max-width: 815px) {
  nav div:nth-child(2) ul a {
    font-size: 0.9rem;
    letter-spacing: normal;
  }
}
nav div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav div:last-child button {
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background: #f59e0b;
}
nav div:last-child button a {
  color: #0f172a;
  font-size: 1rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 685px) {
  nav div:last-child button a {
    font-size: 0.9rem;
  }
}
nav div:last-child button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  height: 880px;
  margin: auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header div:nth-child(1) div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}
header div:nth-child(1) div:nth-child(1) h2 {
  padding-top: 300px;
  font-size: 3rem;
}
@media screen and (max-width: 950px) {
  header div:nth-child(1) div:nth-child(1) h2 {
    font-size: 2rem;
  }
}
header div:nth-child(1) div:nth-child(1) #animTitle {
  padding-left: 10px;
}
@media screen and (max-width: 680px) {
  header div:nth-child(1) div:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header div:nth-child(1) div:nth-child(1) #animTitle {
    padding-top: 10px;
    padding-left: 0;
  }
}
header div:nth-child(1) div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header div:nth-child(1) div:nth-child(2) h1 {
  text-shadow: 1.5px 1.5px 2px #f8fafc, -1.5px 1.5px 2px #f8fafc, -1.5px -1.5px 0px #f8fafc, 1.5px -1.5px 0px #f8fafc;
  padding-left: 60px;
  font-size: 2.5rem;
  color: #38bdf8;
}
@media screen and (max-width: 870px) {
  header div:nth-child(1) div:nth-child(2) h1 {
    font-size: 1.5rem;
  }
}
header div:nth-child(1) div:nth-child(2) button {
  margin: 150px auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 60px;
  padding: 30px;
  background: #f59e0b;
}
header div:nth-child(1) div:nth-child(2) button a {
  color: #0f172a;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
header div:nth-child(1) div:nth-child(2) button:hover {
  -webkit-transform: scale(1.05) rotate(-5deg);
          transform: scale(1.05) rotate(-5deg);
}
header .imgHeader {
  position: absolute;
  z-index: -1;
  right: -400px;
  top: -42px;
  height: 1000px;
  width: 1000px;
  border-radius: 100%;
}

main .aboutMe {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 70px 0 0;
  border-radius: 0 30px 80px 0;
}
@media screen and (max-width: 780px) {
  main .aboutMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main .aboutMe .imgAboutMe {
  margin: 20px;
  height: 400px;
  background: url(../img/website-647013_1920.jpg) left/cover;
  border-radius: 20px;
}
main .aboutMe div:last-child {
  margin: auto 20px;
  letter-spacing: 1px;
  height: 60%;
}
main .aboutMe div:last-child div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main .aboutMe div:last-child div h3 {
  margin: 10px 0;
}
main .portFolio {
  margin: 40px 0 40px 70px;
  border-radius: 80px 0px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .portFolio h2 {
  text-transform: uppercase;
  margin: 10px auto 20px;
}
main .portFolio div {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 50px;
}
main .portFolio div a {
  height: 300px;
  border: 3px solid #f59e0b;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 1.2rem;
}

footer section div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
@media screen and (max-width: 820px) {
  footer section div:nth-child(1) h2 {
    font-size: 1rem;
  }
}
footer section div:nth-child(2) {
  margin: 0;
  border-radius: 0;
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 820px) {
  footer section div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer section div:nth-child(2) div:nth-child(1) {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer section div:nth-child(2) div:nth-child(2) form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  footer section div:nth-child(2) div:nth-child(2) form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer section div:nth-child(2) div:nth-child(2) form label {
  display: none;
}
footer section div:nth-child(2) div:nth-child(2) form input,
footer section div:nth-child(2) div:nth-child(2) form textarea,
footer section div:nth-child(2) div:nth-child(2) form button {
  border: 1px solid #f59e0b;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  background: #f8fafc;
  font-size: 1rem;
  font-weight: 700;
  min-height: 40px;
}
footer section div:nth-child(2) div:nth-child(2) form input::-webkit-input-placeholder, footer section div:nth-child(2) div:nth-child(2) form textarea::-webkit-input-placeholder, footer section div:nth-child(2) div:nth-child(2) form button::-webkit-input-placeholder {
  color: #f59e0b;
}
footer section div:nth-child(2) div:nth-child(2) form input::-moz-placeholder, footer section div:nth-child(2) div:nth-child(2) form textarea::-moz-placeholder, footer section div:nth-child(2) div:nth-child(2) form button::-moz-placeholder {
  color: #f59e0b;
}
footer section div:nth-child(2) div:nth-child(2) form input:-ms-input-placeholder, footer section div:nth-child(2) div:nth-child(2) form textarea:-ms-input-placeholder, footer section div:nth-child(2) div:nth-child(2) form button:-ms-input-placeholder {
  color: #f59e0b;
}
footer section div:nth-child(2) div:nth-child(2) form input::-ms-input-placeholder, footer section div:nth-child(2) div:nth-child(2) form textarea::-ms-input-placeholder, footer section div:nth-child(2) div:nth-child(2) form button::-ms-input-placeholder {
  color: #f59e0b;
}
footer section div:nth-child(2) div:nth-child(2) form input::placeholder,
footer section div:nth-child(2) div:nth-child(2) form textarea::placeholder,
footer section div:nth-child(2) div:nth-child(2) form button::placeholder {
  color: #f59e0b;
}
footer section div:nth-child(2) div:nth-child(2) form #email {
  grid-area: 2/1/2/3;
}
footer section div:nth-child(2) div:nth-child(2) form #message {
  grid-area: 3/1/4/3;
  min-height: 100px;
  resize: none;
}
footer section div:nth-child(2) div:nth-child(2) form button {
  grid-area: 4/1/4/3;
  width: 50%;
  max-width: 180px;
  margin: 0 auto;
  color: #0f172a;
  border: 2px solid #0f172a;
  background: #334155;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: not-allowed;
}
footer section div:nth-child(2) div:nth-child(2) form .btnActive {
  background: #f59e0b;
  cursor: pointer;
}
footer section div:nth-child(2) div:nth-child(2) form .btnActive:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer section div:nth-child(2) div:nth-child(2) form #result {
  margin: 0 auto;
  font-size: 1.2rem;
  height: 40px;
  grid-area: 5/1/5/3;
}
footer section div:nth-child(2) div:nth-child(2) form .error {
  border: 2px solid red;
}
footer section div:nth-child(2) div:nth-child(3) {
  grid-area: 2/1/2/3;
  margin: 0 auto;
}
footer section div:nth-child(2) div:nth-child(3) a {
  height: 30px;
  width: 30px;
  margin: 10px;
}
footer section div:nth-child(2) div:nth-child(3) a i {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2.5rem;
  color: #f59e0b;
}
footer section div:nth-child(2) div:nth-child(3) a i:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}/*# sourceMappingURL=index.css.map */