* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  position: relative;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
}
body .bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
body .bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
body .bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

section {
  background: rgb(189, 189, 189);
  -webkit-box-shadow: rgb(143, 143, 143) 0 0 20px 0;
          box-shadow: rgb(143, 143, 143) 0 0 20px 0;
  padding: 20px;
}

nav {
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: 0px;
  width: 100%;
  background: rgba(226, 219, 219, 0.7);
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav div:first-child {
  height: 40px;
  width: 8vh;
  margin: 3px;
  background: url(../img/icon.png) center/contain no-repeat;
}
nav div:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav div:nth-child(2) ul li {
  margin: 0 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
nav div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header {
  height: 880px;
  margin: auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header div:first-child h1,
header div:first-child h2 {
  color: rgb(54, 54, 54);
  text-shadow: 1.5px 1.5px 2px #ffffff, -1.5px 1.5px 2px #ffffff, -1.5px -1.5px 0px #ffffff, 1.5px -1.5px 0px #ffffff;
}
header div:first-child h1 {
  padding-top: 300px;
  font-size: 3rem;
}
header div:first-child h2 {
  padding-left: 50px;
  font-size: 5rem;
  color: rgba(1, 107, 107, 0.438);
}
header .imgHeader {
  position: absolute;
  z-index: -1;
  right: -400px;
  top: -42px;
  height: 1000px;
  width: 1000px;
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0) 40%, rgb(226, 219, 219) 100%), url(../img/laptop-2620118_1920.jpg) center/cover;
}
header .imgHeader::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  height: 1200px;
  width: 1200px;
  left: -100px;
  top: -100px;
  border: 3px solid rgba(1, 107, 107, 0.438);
}

main .aboutMe {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 70px 0 0;
  border-radius: 0 30px 80px 0;
}
main .aboutMe .imgAboutMe {
  margin: 20px;
  height: 400px;
  background: url(../img/website-647013_1920.jpg) left/cover;
  border-radius: 20px;
}
main .aboutMe div:last-child {
  margin: auto 20px;
  letter-spacing: 1px;
  height: 60%;
}
main .aboutMe div:last-child div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main .aboutMe div:last-child div h3 {
  margin: 10px 0;
}
main .portFolio {
  margin: 40px 0 40px 70px;
  border-radius: 80px 0px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .portFolio h2 {
  text-transform: uppercase;
  margin: 10px auto 20px;
}
main .portFolio div {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 50px;
}
main .portFolio div a {
  height: 300px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 1.2rem;
}

footer section {
  margin: 0;
  border-radius: 0;
}/*# sourceMappingURL=index.css.map */